doctype html
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')  
link(href='https://fonts.googleapis.com/css?family=Roboto:300italic,400italic,400,100,300,600,700' rel='stylesheet' type='text/css')
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.json2html/1.2.0/jquery.json2html.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/table-to-json@1.0.0/lib/jquery.tabletojson.min.js" integrity="sha256-H8xrCe0tZFi/C2CgxkmiGksqVaxhW0PFcUKZJZo1yNU=" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
<script src="/javascripts/json2html.js"></script> 
<script src="/javascripts/tabletojson.js"></script> 
html
  head
    meta(http-equiv='content-type' content='text/html;charset=utf-8')
    title Plum - Add New Employee
    link(rel='icon' href='/images/favicon.ico')
    style.
      html {
      line-height: 1.15;
      -webkit-text-size-adjust: 100%;
      }
      
      body {
      margin: 0;
      }
      .invalid-input{
        background-color: #faafaf;
      }
      h1 {
      font-family: 'Lato', sans-serif;
      font-weight:300;
      letter-spacing: 2px;
      font-size:48px;
      }
      div#messageOut {
      position: relative;
      padding-top: 4px;
      font-size: 4rem;
      margin: 0px;
      box-shadow:0 2px 5px rgba(0,0,0,.3);
      background: #f0acaa;
      color: #FFF;
      }

      div#messageOut:hover{
        box-shadow: 0 15px 20px rgba(10,0,10,.3);
        -webkit-filter: brightness(110%);
      }

      div#messageOut.success{background: #347AB7;}

      p{
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        font-size:14px;
        color: #333333;
        }
      li{
        display:none;
      }
      main {
      display: block;
      }
      h1 {
      font-size: 2em;
      margin: 0.67em 0;
      }
      hr {
      box-sizing: content-box;
      height: 0;
      overflow: visible;
      }
      pre {
      font-family: monospace, monospace;
      font-size: 1em;
      }
      a {
      background-color: transparent;
      }
      b,
      strong {
      font-weight: bolder;
      }
      button,
      optgroup,
      select,
      textarea {
      font-family: inherit;
      font-size: 100%;
      line-height: 1.15;
      margin: 0;
      }
      button,
      input {
      overflow: visible;
      }
      button,
      select {
      text-transform: none;
      }
      progress {
      vertical-align: baseline;
      }
      textarea {
      overflow: auto;
      }
      html {
      box-sizing: border-box;
      font-family: sans-serif;
      }
      *,
      *::before,
      *::after {
      box-sizing: border-box;
      }
      button {
      background: transparent;
      padding: 0;
      }
      html {
      font-family: Inter, system-ui, sans-serif;
      line-height: 1.5;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      text-rendering: optimizelegibility;
      }
      hr {
      border-top-width: 1px;
      }
      img {
      border-style: solid;
      }
      textarea {
      resize: vertical;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
      font-size: inherit;
      font-weight: inherit;
      }
      a {
      color: inherit;
      -webkit-text-decoration: inherit;
      text-decoration: inherit;
      }
      html {
      line-height: 1.5;
      color: #182639;
      }
      *,
      *::before,
      *::after {
      border-width: 0;
      border-style: solid;
      border-color: #E1E5EB;
      }
      input {
      position: relative;
      background:inherit;
      width: 150px; height: 20px;
      color: white;
      }

      input:before {
          position: absolute;
          top: 3px; left: 3px;
          content: attr(data-date);
          display: inline-block;
          color: #333333;
      }

      input::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button {
          display: none;
      }

      input::-webkit-calendar-picker-indicator {
          position: absolute;
          top: 3px;
          right: 0;
          color: black;
          opacity: 1;
      }
    style(data-emotion-css='130005y').
      .css-130005y {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #f6f5f3;
      width: 100vw;
      min-height: 100vh;
      height: 100%;
      padding: 40px 0 28px;
      }
      @media screen and (min-width:40em) {
      .css-130005y {
      padding: 56px 0 32px;
      }
      }
  body
    .css-130005y
      style(data-emotion-css='14eu39i').
        .css-14eu39i {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: 100%;
        }
      .css-14eu39i
        style(data-emotion-css='mhg94k').
          .css-mhg94k {
          cursor: pointer;
          width: 110px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 32px;
          }
          @media screen and (min-width:40em) {
          .css-mhg94k {
          width: 123px;
          margin-bottom: 45px;
          }
          }
        img.css-mhg94k(alt='A Plum Logo' src="/images/plum_new_logo.svg")
        style(data-emotion-css='1097foj').
          .css-1097foj {
          width: 100%;
          background-color: #fff;
          padding: 32px 20px;
          box-sizing: border-box;
          border-radius: 6px;
          }
          @media screen and (min-width:40em) {
          .css-1097foj {
          width: 85%;
          padding: 40px 28px;
          border-radius: 10px;
          }
          }
        .css-1097foj
          .header
            .progress
              .progress-bar.progress-bar-striped.progress-bar-animated#progressBar( role='progressbar' value='0' max='100' style="width:2%")
            form.md-form(style="margin-left:45%" id= "myform" name="myform" method="post" action="users/uploadData" enctype='multipart/form-data')
              .form-group
                input(name='csvData', onchange="parseCSV()" id='csvData', class="custom-file-input" type='file')
          #messageOut(style="display:none;" class="success")
            i(class="fa fa-info-circle fa-lg" aria-hidden="true" style="margin-left:50%")
            h6(id="outputHeader" style="margin-left:45%;margin-top:1px;" ) Status
            p#outputMessage(style="color:white;font-style:bold;margin-left:40%;")
         
          .card-body
            #table.table-editable
              span.table-add.float-right.mb-3.mr-2
                a.text-success(href='#!')
                  i.fas.fa-plus.fa-2x(aria-hidden='true')
              table.table.table-bordered.table-responsive-md.table-striped.text-center(id="data-table")
                thead
                  tr
                    th.text-center _id
                    th.text-center Name
                    th.text-center Email
                    th.text-center DOB
                    th.text-center DOJ
                    th.text-center Gender
                    th.text-center Relationship
                    th.text-center Mobile
                tbody(id="target_div")
                  tr
                  //  td.pt-3-half(contenteditable='true') 
                    td.pt-3-half(contenteditable='true') 
                    td.pt-3-half(contenteditable='true') Deepends
                    td.pt-3-half(contenteditable='true') Spain
                    td.pt-3-half(contenteditable='true') Madrid
                    td.pt-3-half
                      span.table-up
                        a.indigo-text(href='#!')
                          i.fas.fa-long-arrow-alt-up(aria-hidden='true')
                      span.table-down
                        a.indigo-text(href='#!')
                          i.fas.fa-long-arrow-alt-down(aria-hidden='true')
                    td
                      span.table-remove
                        button.btn.btn-danger.btn-rounded.btn-sm.my-0(type='button') Remove 
                  // This is our clonable table line
            button(type='submit' style="margin-left:45%" class="btn btn-danger" onclick ="submitForm()" id='uploadButton' value='Register') Add Employee Data <br>

      style(data-emotion-css='1hh91fr').
        .css-1hh91fr {
        margin-top: 32px;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        color: #55657D;
        font-size: 14px;
        }
      .css-1hh91fr
        style(data-emotion-css='aduqc0').
          .css-aduqc0 {
          font-family: Inter, system-ui, sans-serif;
          text-align: center;
          }
          select{
            background:inherit;
          }
        p.css-aduqc0 © Plum Benefits Private Limited <br> <a href="/users/logout">Logout here<a>
 
// Content ends
script.
  var transform = 
  {"tag":"tr", "children":[
            {"tag":"td contenteditable='true' class='pt-3-half' id='_id'","html":"${eid}"}, 
            {"tag":"td contenteditable='true' class='pt-3-half' id='name'","html":"${name}"},
            {"tag":"td contenteditable='true' class='pt-3-half' id='email'","html":"${email}"},
            {"tag":"td class='pt-3-half' id='dob' ","html":"<input type='date' id='inputdob' data-date-format='MMMM DD, YYYY' value='${dob}' data-date=''>"},
            {"tag":"td contenteditable='true' class='pt-3-half' id='doj' ","html":"<input type='date' id='inputdoj' data-date-format='MMMM DD, YYYY' value='${doj}' data-date=''>"},
            {"tag":"td class='pt-3-half' id='gender' ","html":"<select style='width:100%;height:100%'><option value='${gender}' disabled selected>${gender}</option><option value='male'>male</option><option value='female'>female</option></select>"},
            {"tag":"td contenteditable='true' class='pt-3-half' id='rel'","html":"${relationship}"},
            {"tag":"td contenteditable='true' class='pt-3-half' id='mobile'","html":"${mobile}"}
  ]};

  function validateEmail($email) {
    var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
    return emailReg.test( $email );
  }

  function validateNumber($number) {
    var numberReg = /[2-9]{2}\d{8}/;
    return numberReg.test( $number );
  }
  
  function move() {
      var elem = document.getElementById("progressBar");
      var width = 1;
      var id = setInterval(frame, 10);
      function frame() {
        if (width >= 100) {
          clearInterval(id);
          i = 0;
        } else {
          width++;
          elem.style.width = width + "%";
        }
      }
  }
  function submitForm(){
    let check=true;
    var boo=document.querySelectorAll("#data-table td");
    for(var i=0;i<boo.length;++i){
      if(boo[i].classList.contains("invalid-input")){
        alert("You have entered some invalid details! They have been highlighted for you");
        check=false;
        break;
      }
    }
    if(check){
    console.log("Hello");
    console.log(boo);
    var jsonData = $('#data-table').tableToJSON({});
    for(var i=0;i<jsonData.length;++i){
     jsonData[i].DOB=$("#data-table #dob #inputdob").eq(i).val()
     jsonData[i].DOJ=$("#data-table #doj #inputdoj").eq(i).val()
     jsonData[i].Gender=$('#data-table #gender').eq(i).find(":selected").text();
    }
    console.log(jsonData);
    var xmlhttp = new XMLHttpRequest(); 
    move();  // new HttpRequest instance
    xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      $("#messageOut").css("display", "block");
      let res=this.responseText;
      console.log(typeof(res));
      console.log(res.indexOf("*"));
      document.getElementById("outputMessage").innerHTML = res.substring(res.indexOf("*")+1);
      document.getElementById("outputHeader").innerHTML =
        res.substring(0,res.indexOf("*"));
      }
    };
    xmlhttp.open("POST", "/users/uploadData");
    xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xmlhttp.send(JSON.stringify(jsonData))  ;
      }

    
  }

  function changeDate(dateString){
    console.log(dateString);
    var dateArr=["","January","February","March","April","May","June","July","August","September","October","November","December"];
    var dateParts = dateString.split("/");
    var dateObject = new Date(+dateParts[2], dateParts[1] - 1, +dateParts[0]); 
    var month=dateObject.getMonth();
    if(dateParts[1]<10){
      dateParts[1]=('0' + dateParts[1]).slice(-2);
      //console.log(dateParts[2]+'-'+dateParts[1]+'-'+dateParts[0]);
    }
    if(dateParts[0]<10){
      dateParts[0]=('0' + dateParts[0]).slice(-2);
     // console.log(dateParts[2]+'-'+dateParts[1]+'-'+dateParts[0]);
    }
   // return dateArr[month+1]+' '+dateParts[0]+', '+dateParts[2];
    console.log(dateParts[2]+'-'+dateParts[1]+'-'+dateParts[0]);
    return dateParts[2]+'-'+dateParts[1]+'-'+dateParts[0];

  }
  function editDOB(){
    document.querySelectorAll('#data-table #dob')
    .forEach(e => e.addEventListener("click", function() {
      // Here, `this` refers to the element the event was hooked on
      
      console.log($(this).context.firstChild.data);
    }));
  }
  function editContact(){
    document.querySelectorAll('#data-table #mobile')
    .forEach(e => e.addEventListener("input", function() {
      if(!validateNumber($(this).context.firstChild.data)){
        $(this).addClass("invalid-input");
      } else{
        $(this).removeClass("invalid-input");
      }
    }));
  }
  function editDOJ(){
    document.querySelectorAll('#data-table #doj')
    .forEach(e => e.addEventListener("click", function() {
      // Here, `this` refers to the element the event was hooked on
      console.log("DOB");
    }));
  }
  function editEmail(){
    document.querySelectorAll('#data-table #email')
    .forEach(e => e.addEventListener("input", function() {
      if($(this).context.firstChild.data!=""){
      if(!validateEmail($(this).context.firstChild.data)){
        $(this).addClass("invalid-input");
      } else{
        $(this).removeClass("invalid-input");
      }}
      else{
        $(this).addClass("invalid-input");
      }
    }));
  }
  function checkSubmissionAllowance(){
    document.querySelectorAll('#data-table td')
    .forEach(e => e.addEventListener("input", function() {
      if($(this).context.firstChild.data!=""){
      if(!validateEmail($(this).context.firstChild.data)){
        $(this).addClass("invalid-input");
      } else{
        $(this).removeClass("invalid-input");
      }}
      else{
        $(this).addClass("invalid-input");
      }
    }));
  }
  function editGender(){
    document.querySelectorAll('#data-table #gender')
    .forEach(e => e.addEventListener("click", function() {
      validateGender($(this).context.firstChild.data);
    }));
  }
  function parseCSV(){
    let csvFile = $('#csvData').prop('files')[0];  
    let reader = new FileReader();
    reader.readAsText(csvFile);
    jsonFile = [];
    console.log(jsonFile);
    reader.onload = function() {
      try {
          var lines=reader.result.split("\n");
          var headers = lines[0].split(",");
          for(var i=1;i<lines.length-1;i++){
              var built_line = {};
              var cells=lines[i].split(",");
              for(var j=0;j<cells.length;j++){
                  if(cells[j].trim() != ''){
                      built_line[headers[j].trim()]= cells[j].trim();
                  }
              }
              jsonFile[i-1] = built_line;
          }            
      }
      catch{
          console.log("Error");   
      }
    for(let i=0;i<jsonFile.length;++i){
       jsonFile[i].dob=changeDate(jsonFile[i].dob);
        jsonFile[i].doj=changeDate(jsonFile[i].doj);
     }
     $('#target_div').html(json2html.transform(jsonFile,transform));
     console.log(jsonFile);
     editDOB();
     editEmail();
     editContact();
     $("[id=inputdob],[id=inputdoj]").on("change", function() {
     this.setAttribute(
        "data-date",
        moment(this.value, "YYYY-MM-DD")
        .format( this.getAttribute("data-date-format") )
    )
      });
    $("[id=inputdob],[id=inputdoj]").trigger("change");
    }
  }
  
  